
@{
    ViewBag.Title = "ListarContratoClientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card-body {
        border: 3px solid #56baed;
        padding: 10px;
    }
</style>
<br />

<h2>Lineas Asociadas</h2>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Promoción 1</h5>
                <p class="card-text">999 9999 999</p>
                <span class="">Plan Chip 49.90</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Promoción 2</h5>
                <p class="card-text">999 9999 999</p>
                <span href="#" class="">Plan Chip 39.90</span>
            </div>
        </div>
    </div>


</div>
<br />
<a href="~/Menu/Index"> <button type="button" class="btn btn-secondary">Regresar</button></a> 