 
@{
    ViewBag.Title = "Lockout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup>
    <h1 class="text-danger">Bloqueado.</h1>
    <h2 class="text-danger">Esta cuenta se ha bloqueado; inténtelo de nuevo más tarde.</h2>
</hgroup>

