<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJoinTelcoServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56288/JoinTelcoServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJoinTelcoServices"
                contract="ServiceJoinTelco.IJoinTelcoServices" name="BasicHttpBinding_IJoinTelcoServices" />
        </client>
    </system.serviceModel>
</configuration>